<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>

<body>
    <h1>Email of the account</h1>
          
          <form action="/forgot_password" method="POST">
          
            {{form.csrf_token}}

            <label for="email">
              <b>Email Address</b>
            </label>
            <input type="email" name="email" required /> 
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

          <br>
          <button class="button" type="submit"/>Send email</button>
          
          </form>
</body>


</html>
