{% extends "msg_handler.html" %}



{% block body %}

<div class="modal">
<div class="container">
  <div class="modal-content">
          <h1>Welcome Back!</h1>
          <h1>Login</h1>
          <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
              {{ form.email.label }}<br>
              {{ form.email(size=100)}}
            </p>
            <p>
              {{ form.password.label }}<br>
              {{ form.password(size=100)}}
            </p>
          
            <p>
            {{ form.submit() }}
            </p>

          </form>
        </div>
</div></div>
{% endblock %}
