
{% extends "msg_handler.html" %}



{% block body %}
<div class="modal">
  <div class="container">
    <div class="modal-content">
    <h1>Reset password</h1>
          
          <form action="{{ post_url }}" method="POST">
          
            {{form.csrf_token}}

            <label>
              <b>Password</b> 
            </label>
            <input type="password" name="password" required />
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br>

            <label for="password_repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="password_repeat" required/>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          
          <button class="button" type="submit"/>Reset password</button>
          
          </form>
        </div>
      </div></div>
{% endblock %}
